 <!doctype html>
<html>
<head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
      <title>OctoECE Dashboard</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
 
  <div class="container">
  <div class="jumbotron">
    <h1>UMassD-ECE OctoServ</h1> 
    <p>A proof of concept for monitoring multiple instances of octopi over a network.</p> 
    <p>ECE369 group #6</p> 
  </div>


 <div class="container2">
  <div class="jumbotron">
    <h2> Printer #1: Makerbot Gen5 </h2>

    <a href="/p1printer" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-stats"></span> Printer 1 Operational Status</a>
    <a href="/p1op" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-print"></span> Printer 1 Job Info</a>
  </div>

   <div class="container3">
  <div class="jumbotron">
  <h2> Printer #2: SeeMeCNC Orion Delta </h2>
   <a href="/p2printer" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-stats"></span> Printer 2 Operational Status</a>
<a href="/p2op" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-print"></span> Printer 2 Job Info</a>
  </div>




<!--
 <p><h2>P1 Status:</h2><h3><mark> {{title.state}}</mark></h3></p>
  <p><h2>P1 Time Remaining:</h2><h3><mark> {{title.printTimeLeft.estimatedPrintTime}}</mark></h3></p>
-->

 
</div>
 
</body>
</html>