 <!doctype html>
<html>
<head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
      <title>OctoDEUX Dashboard</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
 <h2>Printer #1: Job File Status</h2>

<p><h2>File Status:</h2>
<h3><mark> Print Time Estimate: {{title.job.estimatedPrintTime}}</mark></h3></p>

<h3><mark> File Name: {{title.job.file.name}}</mark></h3></p>

<p><h2>File Progress</h2>
<h3><mark> File Finished? (1=finished): {{title.progress.completion}}</mark></h3></p>
<h3><mark> Machine State: {{title.state}}</mark></h3></p>


 
</div>
 
</body>
</html>