 <!doctype html>
<html>
<head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
      <title>OctoECE Dashboard</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
 <h2>Printer #1: Printer Status</h2>

<p><h2>Machine status</h2>

<h3><mark>Machine: {{p1.state.text}}</mark></h3></p>


<h3><mark>SD Card: {{p1.sd.ready}}</mark></h3></p>

<h3><mark>Machine Errors: {{p1.state.flags.error}}</mark></h3></p>

<h3><mark>Ready to print: {{p1.state.flags.ready}}</mark></h3></p>

<h3><mark>SD Card Inserted: {{p1.state.flags.sdReady}}</mark></h3></p>

<h2>Temperatures</h2> 

<h3><mark>Bed Temp.: {{p1.temperature.bed.actual}}</mark></h3></p>
<h3><mark>Active Tool Temp.: {{p1.temperature.tool0.actual}}</mark></h3></p>

 
</div>
 
</body>
</html>