 <!doctype html>
<html>
<head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
      <title>OctoECE Dashboard</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
 <h2>Printer #2: Operational Status</h2>

<p><h2>P2 Status:</h2>
<h3><mark> {{p2.state}}</mark></h3></p>

<p><h2>P2 Time Remaining:</h2><h3><mark>{{p2.progress.printTimeLeft}}</mark></h3></p>
 
</div>
 
</body>
</html>